.profile {
    margin-left: -15px;
    margin-right: -15px;

    .description {
        display: block;
        padding: 20px;
    }

    img.fb-image-lg {
        z-index: 0;
        width: 100%;  
        margin-bottom: 10px;
    }
}

.profile__image-wrap {
    height: 300px;
    overflow: hidden;
    background-position: center center;
    border-radius: $borderRadius $borderRadius 0 0;
    -webkit-border-radius: $borderRadius $borderRadius 0 0;
    -moz-border-radius: $borderRadius $borderRadius 0 0;
}

.image-profile {
    margin: -90px 20px 0px 20px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px) {
    .profile-text > h1 {
        font-weight: 700;
        font-size:16px;
    }

    .image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
        height: auto;
    }
}