<div class="profile">
  <div class="profile__image-wrap" style="background-image: url('/public/images/t1.jpeg');">
  </div>
  
  <img align="left" class="image-profile thumbnail" src="https://robohash.org/abcdef" alt="Profile image example"/>
  
  <div class="profile-text">
    <h1>Junky McDrugstone</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptates quasi autem sequi! Inventore culpa dolorum beatae aut. Vel ducimus voluptates delectus veniam, nobis aspernatur voluptate asperiores tempora doloremque numquam.</div>
    </div>
  </div>
</div>