<nav class="navbar navbar-default navbar-ean">
  <div class="container container--ean">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.home">EAN</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            John Doe
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.profile"><span class="ion ion-person"></span> Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="logout()"><span class="ion ion-log-out"></span> Log out</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>