.navbar-ean {
  background: none;
  border: none;

  .container {
    background: $prime;
    border-color: $prime;
    box-shadow: 0 3px 0 0 darken($prime, 10%);
    border-radius: $borderRadius;

    a,
    .navbar-brand,
    .navbar-nav > li > a {
      color: #FFF;
    }

    .navbar-brand {
      font-family: $secondaryFont;
      font-size: 36px;
      text-shadow: 0 1px 0 #777;
      line-height: 23px;
    }
  }

  .navbar-nav > .open > a {
    background-color: darken($prime, 10%);

    &:hover,
    &:focus {
      color: #FAFAFA;
      background-color: darken($prime, 10%);
    }
  }

  .dropdown-menu {
    border-top: 3px solid darken($prime, 10%);

    & > li > a {
      color: #545454;
    }
  }
}