<div class="single-dealer">
  <dealer
    dealer-rating="{{ dealer.rating }}"
    dealer-name="{{ dealer.name }}"
    dealer-tagline="{{ dealer.tagline }}"
    dealer-id="{{ dealer.id }}"
    dealer-page="true">
  </dealer>
  <dealer-gallery gallery="dealer.images"></dealer-gallery>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <weed-form weed-dealer="dealer.id"></weed-form>
    </div>
    <div class="col-md-6">
      <img src="/public/images/spinner.gif" alt="Loading.." ng-if="!comments.length" class="center-block mt-30" />
      <comment ng-repeat="comment in comments" data="comment"></comment>
      <hr ng-if="comments" />
      <comment-input-form comment-list="comments" dealer-id="{{ dealer.id }}" ng-if="comments"></comment-input-form>
    </div>
  </div>
</div>