<div class="home">  
  <div class="jumbotron-wrap">
    <div class="jumbotron-image"></div>
    <div class="jumbotron">
      <h1>Your number 1 choice for trafka!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ab expedita modi facilis inventore, atque aliquam impedit, culpa dolor a unde necessitatibus ipsum tenetur quod quae temporibus consequatur eius nam.</p>
      <p><a class="btn btn-primary btn-lg btn--prime" href="/#/123/123" role="button">Learn more</a></p>
    </div>
  </div>

  <div class="dealer-list">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-sm" ng-class="{'active': dealerOrder === '-rating'}" type="button" ng-click="orderDealers('-rating')"><span class="ion ion-ios-star"></span> Rating</button>
      <button class="btn btn-default btn-sm" ng-class="{'active': dealerOrder === '-name'}" type="button" ng-click="orderDealers('-name')"><span class="ion ion-person"></span> Name</button>
    </div>
    <hr />
  
    <img src="/public/images/spinner.gif" alt="Loading.." ng-if="!dealers.length" class="center-block mt-30 mb-30" />
    
    <dealer
      ng-repeat="dealer in dealers | orderBy:dealerOrder"
      dealer-rating="{{ dealer.rating }}"
      dealer-name="{{ dealer.name }}"
      dealer-id="{{ dealer.id }}">
    </dealer>
  </div>
</div>