.home {
  margin-top: 15px;

  .jumbotron-wrap {
    position: relative;
  }

  .jumbotron-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/jumbo-background.jpg);
    background-position: 75% -107%;
    background-attachment: fixed;
    z-index: 0;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
  }

  .jumbotron {
    font-family: $secondaryFont;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;

    h1 {
      color: #333;
    }

    p {
      font-size: 18px;
      color: #333;
    }
  }

}