.footer {
  .container--ean {
    background: #EEE;
    border: 1px solid #DDD;
    margin-top: -3px;
    border-radius: 0 0 $borderRadius $borderRadius;
    box-shadow: 0 2px 0 0 #BEBEBE;
  }

  .footer-list {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;

      &:last-child {
        float: right;
        padding: 10px;
      }

      a {
        display: block;
        padding: 10px;
      }
    }
  }
}