<div class="footer">
  <div class="container container--ean">
    <ul class="footer-list">
      <li><a ui-sref="app.contact">Contact Us</a></li>
      <li><a ui-sref="app.about">About Us</a></li>
      <li><a ui-sref="app.terms">Terms &amp; Conditions</a></li>
      <li>All rights reserved to Trafka Inc. &copy; 2016</li>
    </ul>
  </div>
</div>