<form role="form" class="weed-form" name="weedForm">
  <div class="form-group" ng-class="{'has-error': (weedForm.$error.required || weedForm.$error.min || weedForm.$error.max) && !weedForm.$pristine}">
    <input type="number" class="form-control form-control--prime" id="amount" ng-model="weed.amount" name="amount" placeholder="Amount (grams)" required ng-min="1" ng-max="250" />
    <div class="error-message" ng-if="weedForm.$error.required && !weedForm.$pristine">Weed amount is required</div>
    <div class="error-message" ng-if="weedForm.$error.min">Weed amount must be above 0</div>
    <div class="error-message" ng-if="weedForm.$error.max">Weed amount must be below 250</div>
  </div>

  <div class="form-group">
    <textarea class="form-control form-control--prime" type="textarea" ng-model="weed.note" id="note" placeholder="Note" rows="7"></textarea>
  </div>
    
  <button type="button" id="submit" name="submit" type="submit" class="btn btn-primary btn--prime pull-right" ng-disabled="weedForm.$invalid">Order</button>
</form>