.weed-form {
  padding: 0 0 30px 0;
}

.error-message {
  padding: 5px 10px;
  margin-top: 5px;
  background: #ffd3d3;
  color: #900;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}