<div class="dealer-gallery">
  <div class="active-image">
    <img ng-src="{{ activeImage }}" />
  </div>
  <ul class="list-of-images">
    <li ng-repeat="image in gallery">
      <a href="" ng-click="selectImage(image)"><img ng-src="{{ image }}" /></a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>