.dealer-gallery {
  margin: 15px 0;

  img {
    border-radius: $borderRadius;
  }

  .active-image {
    float: left;
    width: 70%;

    img {
      max-width: 100%;
    }
  }

  .list-of-images {
    float: left;
    width: 30%;
    padding: 0 0 0 10px;
    list-style: none;

    li {
      img {
        float: right;
        max-width: 90%;
        margin-bottom: 10px;
      }
    }
  }
}