$prime: #7ac143;
$borderRadius: 5px;
$containerWidth: 1000px;
$secondaryFont: 'Baloo Paaji', cursive;

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/sativa.png');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondaryFont;
}

.btn--prime {
  background: $prime;
  border-color: $prime;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($prime, 10%);
    border-color: lighten($prime, 10%);
  }
}

.has-error .form-control--prime {
  box-shadow: 0 2px 0 0px #900;
  -webkit-box-shadow: 0 2px 0 0px #900;
  -moz-box-shadow: 0 2px 0 0px #900;

  &:focus,
  &:active {
    box-shadow: 0 2px 0 0px #900;
    -webkit-box-shadow: 0 2px 0 0px #900;
    -moz-box-shadow: 0 2px 0 0px #900;
  }
}

.form-control--prime {
  height: 40px;
  box-shadow: 0 2px 0 0px #BEBEBE;
  -webkit-box-shadow: 0 2px 0 0px #BEBEBE;
  -moz-box-shadow: 0 2px 0 0px #BEBEBE;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  &:focus,
  &:active {
    border-color: $prime;
    box-shadow: 0 2px 0 0px $prime;
    -webkit-box-shadow: 0 2px 0 0px $prime;
    -moz-box-shadow: 0 2px 0 0px $prime;
  }
}

.container--ean {
  max-width: $containerWidth;
}

.container--main {
  background: #FFF;
  border-radius: $borderRadius;
  border: 1px solid #DDD;
  max-width: $containerWidth;
}

.h2--title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
  padding: 15px 0;
  border-bottom: 1px solid #EEE;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}