<div class="row comment">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img class="img-responsive user-photo" src="https://robohash.org/comment-{{ data.id }}">
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->

  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{ data.username }}</strong> <span class="text-muted">{{ data.date_created | timeago }}</span>
      </div>
      <div class="panel-body">
        {{ data.comment }}
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div>