.comment {
  .thumbnail {
    padding:0px;
  }

  .panel {
    position:relative;
    border-color: lighten($prime, 35%);

    & > .panel-heading {
      background: lighten($prime, 45%);
      border-color: lighten($prime, 35%);

      .text-muted {
        color: $prime;
      }
    }

    & > .panel-heading:after,
    & > .panel-heading:before{
      position:absolute;
      top:11px;
      left:-16px;
      right:100%;
      width:0;
      height:0;
      display:block;
      content:" ";
      border-color: transparent;
      border-style: solid solid outset;
      pointer-events: none;
    }

    & > .panel-heading:after{
      border-width: 7px;
      border-right-color: lighten($prime, 45%);
      margin-top: 1px;
      margin-left: 2px;
    }

    & > .panel-heading:before{
      border-right-color:#ddd;
      border-width:8px;
    }
  }
}