<div class="contact-us">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Contact us</h2>
      <hr />
      <div class="form-area">  
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control form-control--prime" id="name" name="name" placeholder="Name" required>
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control form-control--prime" id="email" name="email" placeholder="Email" required>
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control form-control--prime" id="mobile" name="mobile" placeholder="Mobile Number" required>
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control form-control--prime" id="subject" name="subject" placeholder="Subject" required>
          </div>

          <div class="form-group">
            <textarea class="form-control form-control--prime" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
          </div>
            
          <button type="button" id="submit" name="submit" class="btn btn-primary btn--prime pull-right">Submit Form</button>
        </form>
      </div>
    </div>
  </div>
</div>