<form role="form" class="comment-form" name="commentForm" ng-submit="createComment()">
  <div class="form-group">
    <textarea class="form-control form-control--prime" type="textarea" ng-model="comment.content" id="note" placeholder="Leave your comment here.." rows="3" required press-enter="createComment()"></textarea>
  </div>
    
  <button type="submit" id="submit" name="submit" type="submit" class="btn btn-primary btn--prime pull-right" ng-disabled="commentForm.$invalid">Comment</button>
  <div class="clearfix"></div>
</form>