<div class="media media--dealer">
  <div class="media-left">
    <a ui-sref="app.dealer({ id: dealerId })">
      <img class="media-object" src="https://robohash.org/{{dealerId}}" />
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ dealerName }}</h4>
    <div class="media-tagline" ng-if="dealerTagline">{{ dealerTagline }}</div>
    <div class="media-rating" ng-if="!dealerPage">{{ dealerRating }}</div>
    <star-rating class="media-rating" dealer-rating="{{dealerRating}}" ng-if="dealerPage"></star-rating>
  </div>
</div>