.media--dealer {
  position: relative;
  border-bottom: 1px solid #EEE;
  padding: 15px 0;

  .media-object {
    max-width: 50px;
    background: #EEE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }

  .media-heading {
    font-weight: 400;
    font-size: 24px;
    padding: 15px 15px 0 15px;
    color: #545454;
  }

  .media-tagline {
    padding-left: 15px;
  }

  .media-rating {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
  }
}